<div class="intro">
	<div class="shell">
		<div class="intro__media hidden-xs" style="background-image: url({{ 'intro-image.jpg' | file_img_url: '1600x' }});"></div><!-- /.intro__media hidden-xs -->

		<div class="intro__media intro__media--mobile hidden-lg hidden-md hidden-sm" style="background-image: url({{ 'intro-image-mobile.jpg' | file_img_url: '1600x' }});"></div><!-- /.intro__media intro__media-/-mobile visible-xs -->

		<div class="flex {{class}}">
			<div class="intro__content">
				<h2 class="intro__title">Start a YuMOVE plan today</h2><!-- /.intro__title -->

				<h4>It will only take 2 minutes to save 25%</h4>

				<a href="#" class="btn">
					Get Started <img src="{{ 'noun_Paw_76186.png' | file_img_url: '20x' }}" alt="">
				</a>
			</div><!-- /.intro__content -->
		</div><!-- /.flex -->
	</div><!-- /.shell -->
</div><!-- /.intro -->