<div id="landing-signup-banner">
  <div class="header-bar-landing header-bar-normal">
    <div class="shell shell--fluid">
      <div class="flex justify-center align-center header-bar-container">
        <span class="popup-launcher">{{settings.bar_content_landing}}</span>
        <div class="header-bar-close ico-circle ico-close"></div> 
      </div><!-- /.flex -->
    </div><!-- /.shell shell--fluid -->
  </div>
</div>