<section class="section section-features" style="padding-bottom: 30px;">
	<div class="shell shell--small">
		<header class="section__head">
			<h2 class="section__title">Get a tailored YuMOVE plan</h2><!-- /.section__title -->
		</header><!-- /.section__head -->

		<div class="section__body">
			<div class="features cols">
				<div class="feature text-center col col--1of3">
					<div class="feature__image flex align-center justify-center">
						<img src="{{ 'ico-1.png' |  file_img_url: 'x150' }}" alt="" loading="lazy">
					</div><!-- /.feature__image flex align-center justify-center -->

					<div class="feature__content">
						<h4 class="feature__title">Create your dog’s profile</h4>

						<p>Take a few minutes to tell us about your dog.</p>
					</div><!-- /.feature__content -->
				</div><!-- /.feature -->

				<div class="feature text-center col col--1of3">
					<div class="feature__image flex align-center justify-center">
						<img src="{{ 'ico-3.png' |  file_img_url: 'x150' }}" alt="" loading="lazy">
					</div><!-- /.feature__image flex align-center justify-center -->

					<div class="feature__content">
						<h4 class="feature__title">See their unique suggestion</h4>

						<p>Get started with the nutrition they need.</p>
					</div><!-- /.feature__content -->
				</div><!-- /.feature -->

				<div class="feature text-center col col--1of3">
					<div class="feature__image flex align-center justify-center">
						<img src="{{ 'ico-2.png' |  file_img_url: 'x150' }}" alt="" loading="lazy">
					</div><!-- /.feature__image flex align-center justify-center -->

					<div class="feature__content">
						<h4 class="feature__title">Get a delivery every month </h4>

						<p>Cancel or change your plan anytime.</p>
					</div><!-- /.feature__content -->
				</div><!-- /.feature -->
			</div><!-- /.features -->
		</div><!-- /.section__body -->

		<footer class="section__foot">
			<a href="#" class="btn">Get Started</a>
		</footer><!-- /.section__foot -->
	</div><!-- /.shell -->
</section><!-- /.section section-features -->