<section class="section section-about">
	<div class="shell">
		<div class="cols flex-column-xs">
			<div class="col col--1of2 flex">
				<div class="section__content flex align-center">
					<div class="section__content-inner">
						<h2 class="section__title">Our pets deserve better</h2><!-- /.section__title -->

						<p>YuMOVE is a range of natural dog joint supplements that help your pooch make the most of life.  It combines the highest purity ingredients that work together to provide the best all round joint support.</p>

						<a href="https://cdn.shopify.com/s/files/1/0103/3784/5303/files/small.mp4?1277" class="btn btn--green btn--play">
							Watch Video

							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="16.001" viewBox="0 0 14 16.001">
							  <path id="Path_314" data-name="Path 314" d="M13.262-7.291l-11-6.5A1.492,1.492,0,0,0,0-12.5V.5A1.5,1.5,0,0,0,2.263,1.791l11-6.5A1.5,1.5,0,0,0,13.262-7.291Z" transform="translate(0 13.999)" fill="#fff"/>
							</svg>
						</a>
					</div><!-- /.section__content-inner -->
				</div><!-- /.section__content -->
			</div><!-- /.col col-/-1of2 -->

			<div class="col col--1of2 flex">
				<div class="section__media" style="background-image: url({{ 'section-image.jpg' | file_img_url: '1000x' }});">
					{% comment %}Option to add video{% endcomment %}
					{% comment %}<video controls playsinline autoplay muted loop>
					  <source src="https://cdn.shopify.com/s/files/1/0103/3784/5303/files/small.mp4?1277" type="video/mp4">
					</video>{% endcomment %}

					<h1>
						Join the<br>
						#YuMOVEment
					</h1>
				</div><!-- /.section__media -->
			</div><!-- /.col col-/-1of2 -->
		</div><!-- /.cols -->
	</div><!-- /.shell -->
</section><!-- /.section section-about -->