<section class="section section-about">
	<div class="shell">
		<div class="cols flex-reverse flex-column-reverse-xs">
			<div class="col col--1of2 flex">
				<div class="section__content flex align-center">
					<div class="section__content-inner">
						<h2 class="section__title">Bailey’s Story</h2><!-- /.section__title -->

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur a erat nam at. Elit sed vulputate mi sit amet. </p>

						<a href="https://cdn.shopify.com/s/files/1/0103/3784/5303/files/small.mp4?1277" class="btn btn--green btn--play">Watch Video</a>
					</div><!-- /.section__content-inner -->
				</div><!-- /.section__content -->
			</div><!-- /.col col-/-1of2 -->

			<div class="col col--1of2 flex">
				<div class="section__media" style="background-image: url({{ 'section-image-2.jpg' | file_img_url: '1000x' }});">
					<video controls playsinline autoplay muted loop>
					  <source src="https://cdn.shopify.com/s/files/1/0103/3784/5303/files/small.mp4?1277" type="video/mp4">
					</video>
				</div><!-- /.section__media -->
			</div><!-- /.col col-/-1of2 -->
		</div><!-- /.cols -->
	</div><!-- /.shell -->
</section><!-- /.section section-about -->