<div class="subflow-error-modal hidden">
  <div class="subflow-error-content">
    <div class="subflow-error-close">
      <span>Close</span><i class="ico-circle ico-close"></i>
      </div>
    <div class="subflow-error-text">
       <p>Sorry, there has been an error whilst trying to process your order.</p>
       <p>Please try again later.</p>
       <p class="subflow-error-contact">If this issue continues, please reach out to our customer service team on tel:01462416866</p>     
    </div>
     
  </div>
</div>