<nav class="subscribe__nav {{ _class }}">
  <ul>
    <li class="done current">
      <a href="#register">
        Register
      </a>
    </li>

    <li>
      <a href="#details">
        Dog details
      </a>
    </li>

    <li>
      <a href="#weight">
        Dog Weight
      </a>
    </li>

    <li>
      <a href="#activity">
        Activity
      </a>
    </li>

    <li id="nav--eating-style">
      <a href="#eating">
        Fussy?
      </a>
    </li>

    <li>
      <a href="#new-to-yumove">
        New to YuMOVE?
      </a>
    </li>

    <li>
      <a href="#confirm">
        Confirm
      </a>
    </li>

    <li>
      <a href="#recommendation">
        Recommendation
      </a>
    </li>
    
    <li>
      <a href="#extras">
        Extras
      </a>
    </li>

    <li>
      <a href="#subscription-plan">
        Subscription plan
      </a>
    </li>
  </ul>
</nav><!-- /.subscribe__nav -->