<!-- TrustBox widget - Product Mini --> 
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="5e4e87b71f96930001914d27" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="{% for variant in featured-product-item.variants  %}{{ variant.sku }},{% endfor %}"> 
  <a href="https://uk.trustpilot.com/review/lintbells.com" target="_blank" rel="noopener">Trustpilot</a> 
</div> <!-- End TrustBox widget -->