{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}

{%- if section_title != blank or section.blocks.size > 0 -%}
  <section class="section section-faqs">
    <div class="shell shell--extrasmall">
      {%- if section_title != blank -%}
        <header class="section__head">
          <h2 class="section__title">{{section_title}}</h2><!-- /.section__title -->
        </header><!-- /.section__head -->
      {%- endif -%}

      {%- if section.blocks.size > 0 -%}
        <div class="section__body">
          <div class="accordion">
            {%- for block in section.blocks -%}
              {%- assign _block = block.settings -%}
              {%- assign block_title = _block.title -%}
              {%- assign block_content = _block.content -%}

              {%- if block_title != blank and block_content != blank -%}
                <div class="accordion__section">
                  <div class="accordion__head">
                    <h4>{{block_title}}</h4>
                  </div><!-- /.accordion__head -->

                  <div class="accordion__body">
                    {{block_content}}
                  </div><!-- /.accordion__body -->
                </div><!-- /.accordion__section -->
              {%- endif -%}
            {%- endfor -%}
          </div><!-- /.accordion -->
        </div><!-- /.section__body -->
      {%- endif -%}
    </div><!-- /.shell shell--extrasmall -->
  </section><!-- /.section section-faqs -->
{%- endif -%}

{% schema %}
{
  "name": "FAQs",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "max_blocks": 8,
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}