{%- assign _section = section.settings -%}
{%- assign section_product = _section.product -%}
{%- assign _product = all_products[section_product] -%}
{%- assign _subtitle = _section.subtitle -%}
{%- assign _description = _section.description -%}
{%- assign _discount_price = _section.discount_price -%}

<section class="section section-featured-product">
  <div class="shell">
    <div class="section__body">
      {%- include 'featured-product-item--large-discount' with _product, _size: 'product--featured flex-reverse justify-center align-center' -%}
    </div><!-- /.section__body -->
  </div><!-- /.shell -->
</section><!-- /.section section-featured-product -->

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "discount_price",
      "label": "Discount Price"
    }
  ]
}
{% endschema %}


