<input type="hidden" name="g" value="N9Sgk5">
<input type="hidden" name="$fields" value="first_name,last_name,$consent,dogs_name,dog_weight,dog_age">
       
<div id="sample-form" class="shell shell--fluid">
    <form id="sample-signup-form">
       <div class="sample-form-content">
        <div class="form__cols">
          <div class="form__col">
            <div class="form__row">
              <div class="form__controls">
                <label for="klaviyo_form_first_name" class="sample-input-title">First name*</label>
                <input id="klaviyo_form_first_name" type="text" class="sample-input field" name="first_name" placeholder="Your first name">
              </div><!-- /.form__controls -->
            </div><!-- /.form__row -->
          </div><!-- /.form__col -->
          <div class="form__col">
            <div class="form__row">
              <div class="form__controls">
                <label for="Klaviyo_form_last_name" class="sample-input-title">Last name*</label>
                <input id="klaviyo_form_first_name" type="text" class="sample-input field" name="last_name" placeholder="Your last name">
              </div><!-- /.form__controls -->
            </div><!-- /.form__row -->
          </div><!-- /.form__col -->
          <div class="form__col-full">
            <div class="form__row">
              <div class="form__controls">
                <label for="klaviyo_form_email" class="sample-input-title">Email*</label>
                <input id="klaviyo_form_email" type="email" class="sample-input field" name="email" placeholder="Enter your email address">
              </div><!-- /.form__controls -->
            </div><!-- /.form__row -->
          </div><!-- /.form__col -->
          <div class="form__col">
            <div class="form__row">
              <div class="form__controls">
                <label for="klaviyo_form_dog_name" class="sample-input-title">Your dog's name*</label>
                <input id="klaviyo_form_dog_name" type="text" class="sample-input field" name="dog_name" placeholder="Enter your dogs name">
              </div><!-- /.form__controls -->
            </div><!-- /.form__row -->
          </div><!-- /.form__col -->
          <div class="form__col">
            <div class="form__row">
              <div class="form__controls">
                <label for="sample-size-select" class="sample-input-title">Size of your dog*</label>
                <select id="sample-size-select" class="sample-select" name="dog_weight" data-placeholder="Select weight (KG)">
                  <option value=""></option>
                  <option value="0-15kg">0-15kg</option>
                  <option value="16-30kg">16-30kg</option>
                  <option value="31-45kg">31-45kg</option>
                  <option value="over-45kg">over 45kg</option>
                </select>
              </div><!-- /.form__controls -->
            </div><!-- /.form__row -->
          </div><!-- /.form__col -->
          <div class="form__col">
            <div class="form__row">
              <div class="form__controls">
                <label for="sample-age-select" class="sample-input-title">Age of your dog*</p>
                <select id="sample-age-select" class="sample-select" name="dog_age" data-placeholder="Select age (Years)">
    	  		<option value=""></option>
    	  		<option value="0.1">0-12 months</option>
    	  		<option value="1">1 year old</option>
    	  		<option value="2">2 years old</option>
    	  		<option value="3">3 years old</option>
    	  		<option value="4">4 years old</option>
    	  		<option value="5">5 years old</option>
    	  		<option value="6">6 years old</option>
    	  		<option value="7">7 years old</option>
    	  		<option value="8">8 years old</option>
                 	<option value="9">9 years old</option>
                 	<option value="10">10 years old</option>
                 	<option value="11">11 years old</option>
                 	<option value="12">12 years old</option>
                 	<option value="13">13 years old</option>
                 	<option value="14">14 years old</option>
                 	<option value="15">15 years old</option>
                 	<option value="16">16 years old</option>
                 	<option value="17">17 years old</option>
                 	<option value="18">18 years old</option>
                 	<option value="19">19 years old</option>
                 	<option value="20">20 years or older</option>
		        </select>
              </div><!-- /.form__controls -->
            </div><!-- /.form__row -->
          </div><!-- /.form__col -->
          <div class="form__col">
            <div class="form__row">
              <div class="form__controls">
                <label for="sample-activity-select" class="sample-input-title">Your dog's level of activity*</label>
                <select id="sample-activity-select" class="sample-select" name="dog_weight" data-placeholder="Select level of activity">
                  <option value=""></option>
                  <option value="less active">Less Active</option>
                  <option value="leisurely">Leisurely</option>
                  <option value="active">Active</option>
                  <option value="intensely active">Intensely Active</option>
                </select>
              </div><!-- /.form__controls -->
            </div><!-- /.form__row -->
          </div><!-- /.form__col -->
        </div><!-- /.form__cols -->
        <ul class="list-checkboxes">
          <li>
            <div class="checkbox">
            <input type="checkbox" name="joint-condition" id="joint-condition" class="js-checkbox js-new-data">

            <label for="joint-condition" class="flex-xs align-center justify-between-xs">
              <span>Does your dog have a known joint condition?</span>

              <div class="checkbox__tooltip">
                <i class="ico-info">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M6.14,6.14a12,12,0,1,0,16.971,0A12,12,0,0,0,6.14,6.14Zm8.967,1.52a1.849,1.849,0,0,1,0,3.7,1.865,1.865,0,0,1-1.849-1.874A1.838,1.838,0,0,1,15.106,7.659Zm2.609,12.386a1.212,1.212,0,0,1-.253.431,3.3,3.3,0,0,1-2.432,1.089,7.958,7.958,0,0,1-1.342-.076,1.959,1.959,0,0,1-1.545-1.976l.3-1.976c.2-1.14.405-2.305.608-3.445,0-.076.025-.152.025-.228,0-.481-.152-.659-.633-.709a5.072,5.072,0,0,1-.608-.1.446.446,0,0,1-.329-.456c.025-.2.152-.329.405-.38a2.318,2.318,0,0,1,.431-.025h3.5c.431,0,.684.2.684.633A5.084,5.084,0,0,1,16.4,13.89c-.228,1.317-.481,2.609-.709,3.926-.076.431-.177.861-.228,1.292a1.79,1.79,0,0,0,.051.633.5.5,0,0,0,.557.405,2.34,2.34,0,0,0,.684-.2,4.723,4.723,0,0,1,.507-.253C17.563,19.59,17.791,19.767,17.715,20.046Z" transform="translate(-2.625 -2.625)" fill="#ffffff"/>
                  </svg>
                </i>

                <div class="checkbox__tooltip-inner">
                  <i class="ico-circle ico-close hidden-lg hidden-md hidden-sm"></i>

                  <p>{{ section.settings.joint_condition_tooltip }}</p>
                </div><!-- /.checkbox__tooltip-inner -->
              </div><!-- /.checkbox__tooltip -->
            </label>
          </div><!-- /.checkbox -->
          </li>
		  <li>
		    <div class="checkbox">
		  	<input type="checkbox" name="consent" id="consent" class="js-checkbox js-new-data">
		  	<label for="consent">{{ section.settings.opt_in_text }}</label>
		    </div><!-- /.checkbox -->
		  </li>
	    </ul><!-- /.list-checkboxes -->
        <div class="form-error-container hidden">
          <p class="error-text">Please fill in all fields</p>
        </div>
        <div class="sample-form-actions">
          <div>
            <a id="sample-form-submit" href="#" class="btn btn--orange btn--get">GET TRIAL</a>
          </div>
          
           <div class="sample-form-disclaimers">
            <p>{{ section.settings.disclaimer }}</p>
          </div><!-- /.samle-form-disclaimers -->
        </div><!-- /.sample-form-actions -->
      </div><!-- /.sample-form-content -->
    </form>
</div><!-- /#sample-form -->



{% include 'landing-sample-js' %}

<!-- <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#sample-signup-form', {
      hide_form_on_success: true,
      extra_properties: {
        $source: '$embed',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text'
      }
    });
  
    $( ".btn--get" ).click(function() {
        $("#sample-signup-form").ajaxSubmit({url: '//manage.kmail-lists.com/ajax/subscriptions/subscribe', type: 'post'})
    });
</script> -->

<!-- <script
  async type="text/javascript"
  src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=YOUR_API_KEY"
></script>

<script>
  $(document).ready(function() {
    $('.btn--get').on('click', function(e) {
      var email = $('[name="email"]').val().trim();
      var firstName = $('[name="first"]').val().trim();
      var lastName = $('[name="last"]').val().trim();
      
      console.log(email);
      
      var _learnq = _learnq || [];

      _learnq.push(['identify', {
        '$email' : email
      }]);

    });
  });
</script> -->

{% schema %}
  {
    "name": "Sample Landing Form",
    "settings": [
      {
        "type": "richtext",
        "id": "opt_in_text",
        "label": "Opt in text"
      },
      {
         "type": "text",
         "id": "joint_condition_tooltip",
         "label": "Joint Condition Tooltip Text"
      },
      {
         "type": "text",
         "id": "disclaimer",
         "label": "Disclaimer"
      }
    ]
  }
{% endschema %}
