{%- assign _section = section.settings -%}
{%- assign section_image = _section.image -%}
{%- assign section_video_url = _section.video_url -%}
{%- assign section_media_title = _section.media_title -%}
{%- assign section_title = _section.title -%}
{%- assign section_media_title_position = _section.media_title_position -%}
{%- assign section_content = _section.content -%}
{%- assign section_label = _section.label -%}
{%- assign section_url = _section.url -%}
{%- assign section_add_video_popup = _section.add_video_popup -%}
{%- assign section_add_play_icon = _section.add_play_icon -%}
{%- assign section_reverse = _section.reverse -%}

{%- if section_image != blank or section_video_url != blank or section_title != blank or section_content != blank -%}
  <div id="yudigest-about">
   {%- include 'about' -%}
  </div>
	
{%- endif -%}

{% schema %}
{
	"name": "Image and Content",
	"settings": [
		{
			"type": "header",
			"content": "Media"
		},
		{
		  "type": "image_picker",
		  "id": "image",
		  "label": "Image"
		},
		{
			"type": "url",
			"id": "video_url",
			"label": "Video URL"
		},
		{
		  "type": "richtext",
		  "id": "media_title",
		  "label": "Overlay Title"
		},
		{
			"type": "select",
			"id": "media_title_position",
			"label": "Position of Overlay Title",
			"options": [
		    {
		      "value": "top left",
		      "label": "Top Left"
		    },
		    {
		      "value": "top left right text-center",
		      "label": "Top Center"
		    },
		    {
		      "value": "top right",
		      "label": "Top Right"
		    },
		    {
		      "value": "center left",
		      "label": "Center Left"
		    },
		    {
		      "value": "center left right text-center",
		      "label": "Center Center"
		    },
		    {
		      "value": "center right",
		      "label": "Center Right"
		    },
		    {
		      "value": "bottom left",
		      "label": "Bottom Left"
		    },
		    {
		      "value": "bottom left right text-center",
		      "label": "Bottom Center"
		    },
		    {
		      "value": "bottom right",
		      "label": "Bottom Right"
		    }
			],
			"default": "top left right text-center"
		},
		{
			"type": "header",
			"content": "Content"
		},
		{
		  "type": "text",
		  "id": "title",
		  "label": "Title"
		},
		{
		  "type": "richtext",
		  "id": "content",
		  "label": "Content"
		},
		{
		  "type": "text",
		  "id": "label",
		  "label": "Button Label"
		},
		{
		  "type": "url",
		  "id": "url",
		  "label": "Button Link"
		},
		{
			"type": "checkbox",
			"id": "add_video_popup",
			"label": "Add Popup",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "add_play_icon",
			"label": "Add Play Icon",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "reverse",
			"label": "Reverse content and image",
			"default": false
		}
	]
}
{% endschema %}
