{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}

<section class="section section-logos" style="padding-top: 0;">
  <div class="shell">
    {%- if section_title != blank -%}
      <header class="section__head">
        <h2 class="section__title">{{section_title}}</h2><!-- /.section__title -->
      </header><!-- /.section__head -->
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div class="section__body">
        <ul class="list-logos flex justify-between align-center">
          {%- for block in section.blocks -%}
            {%- assign _block = block.settings -%}
            {%- assign block_image = _block.image -%}
            {%- assign block_alt = _block.image_alt -%}

            <li>
              <img src="{{ block_image | img_url: 'x50' }}" alt="{{ block_alt }}">
            </li>
          {%- endfor -%}
        </ul><!-- /.list-logos -->
      </div><!-- /.section__body -->
    {%- endif -%}
  </div><!-- /.shell -->
</section><!-- /.section section-logos -->

{% schema %}
{
  "name": "Logos",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logos",
      "category": "Homepage"
    }
  ]
}
{% endschema %}
