
.main {
    .section.section-product{
        padding-bottom: 0;
    }
}
/* Task 3 start */
#bundle-product{
    padding-bottom: 50px;
    .bundle-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
    /*    background-color: #dbd9d9; */
        border-radius: 0;
        color: var(--white);
        padding: 0;
    /*    border: 5px solid #dbd9d9;  */
        box-shadow: none;
        max-width: var(--container);
    }
    .bundle-products {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        border: 0px solid #dbd9d9;
        background: var(--white);
        padding: 25px;
        gap: 15px;
        width: 100%;
    }
    .bundle-content {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .bundle-images {
        display: flex;
        align-items: center;
        img{
            margin-bottom: 0;
        }
    }
    .bundle-info h4 {
        font: 700 20px/32px Foco;
        margin: 0;
        color: var(--green);
    }
    .bundle-info p {
        font: 16px/30px Foco;
        max-width: 313px;
        margin: 0;
        color: var(--black);
    }
    .bundle-images p {
        font-size: 30px;
        margin: 0;
        color:  var(--black);
    }
    .bundle-button{
        display: flex;
        flex-direction: column;
        color: var(--button-color);
        text-align: center;
        .btn {
            color: var(--white);
            background-color: var(--button-color);
        }
    }    
}

@media only screen and (max-width:480px){
    div.cart__wrapper {
    .table--cart {
    .product__qty{
        height: 40px;
        input{
            height: 40px;
        }
    }
    }
    }
    div#bundle-product {
    .bundle-products{
        flex-direction: column;
        .bundle-content{
            flex-direction: column;
        }
    }
   }
    div.rc_block__type--active{
     label.rc_label{
        width: 100%;
    }
    }
    .product--single {
     .rc_label {
       span.select2{
        width: 100%!important;
        float: left;
    }
    }
    }
}

/* Task 3 end */