<section class="section section-404">
	<div class="shell">
		<div class="section__contents">
			<div class="page--error page--default default--holder">
				<div class="page__head">
					<h1 class="page__title">
						{{- 'general.404.title' | t -}}
					</h1>
				</div><!-- /.page__head -->

				<div class="page__content">
					<p>
						{{- 'general.404.subtext' | t -}}
					</p>

					{{- 'general.404.link_html' | t -}}
				</div><!-- /.page__content -->
			</div>
		</div><!-- /.section__content -->
	</div><!-- /.shell -->
</section><!-- /.section section-404 -->
{% include 'SEOManager-404' %}