<style>
  .campaign-yucalm-callout--purple .section-callout {
  	background-color: #51297F;
  }
  .campaign-yucalm-callout--purple #campaign-yucalm-callout.section .section__title {
  	color: #fff;
  }
</style>
{% include 'shogun-products', content: page %}
{%- section 'campaign-yucalm-intro' -%}
{%- section 'campaign-yucalm-subscription' -%}
{%- section 'campaign-yucalm-features' -%}
<div class="campaign-yucalm-callout--purple">
{%- section 'campaign-yucalm-callout' -%}
</div>
{%- section 'campaign-yucalm-ingredients' -%}
{%- section 'landing-yucalm-callout-1' -%}
{%- section 'campaign-yucalm-testimonials' -%}
{%- section 'campaign-yucalm-callout' -%}
