#bundle-product{
    margin-top: 50px;
    .bundle-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto;
        background-color: #dbd9d9;
        border-radius: 0;
        color: #fff;
        padding: 0;
        border: 5px solid #dbd9d9;
        box-shadow: none;
        max-width: max-content;
    }
    .bundle-products {
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 0px solid #dbd9d9;
        background: #fff;
        padding: 25px;
        gap: 15px;
    }
    .bundle-content {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .bundle-images {
        display: flex;
        align-items: center;
    }
    .bundle-info h4 {
        font: 700 20px/32px Foco;
        margin: 0;
        color: green;
    }
    .bundle-info p {
        font: 16px/30px Foco;
        max-width: 313px;
        margin: 0;
        color: #000;
    }
    .bundle-images p {
        font-size: 30px;
        margin: 0;
        color: #000;
    }
    .bundle-button{
        display: flex;
        flex-direction: column;
        color: #f28b00;
        text-align: center;
        .btn {
            color: #fff;
            background-color: #f28b00;
        } 
    }    
}